# Thư mục node_modules chứa tất cả các gói đã cài đặt
node_modules/

# Thư mục của IDE/Editor (ví dụ: IntelliJ IDEA, WebStorm)
.idea/

# Tệp package-lock.json không cần thiết khi triển khai
package-lock.json
.vercel
